<div class = "container">
  <div class = "row">
    <div class = "px-3 mt-5 mx-auto">
       
        <h1 style="text-align:center">
          ご注文ありがとうございました！
        </h1>
    </div>
  </div>
    
    <div class = "row">
      <div class="col-xs-6 mt-5 mx-auto">
        <%= image_tag "thanks.jpeg", alt: "farmer", :size =>'500x400' %>
      </div>
    </div>
</div>